.texnav{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: #BACCA9;
}
.barnav{
    background-color: #1D1D1D;
    /* border-bottom: 10px solid #D0A01A; */
}

.titleText{
    font-family: 'Crushed', cursive;
    font-size: 40px;
    color: #709971; 
}
.navba{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.clase:hover{
    color: #595959; 
}

.foot{
    background-color:  #1D1D1D;
    margin-top: 100px;
    width: 100%
}


body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-image: url("imagenes/ajolote1.jpg");
}
 
.animalSafe {
    margin-right: 30px;
}

.stick-navbar {   
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(192, 221, 29, 0.60) !important;
    z-index: 100;
}

.track {
    width: 50px;
    height: auto;
}


#animal-image {
    background-image: url("imagenes/ajolote1.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}

#animal-image2 {
    background-image: url("imagenes/lobo-mexicano.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}

.dark-background {
    background-color: rgba(0, 0, 0, 0.3) !important;
    width: 100%;
    height: 100%;
}

#animal-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    height:  100%;
    width: 100%;
    z-index: -5;
}

.email {
    text-align: center;
    color: white;
    position: relative;
    margin-top: 100px;
    margin-right: 30%;
    margin-left: 30%;
}

#emailHelp{
    color: rgba(192, 221, 29, 0.89) !important;
}

.password {
    text-align: center;
    color: white;
    position: relative;
    margin-top: 40px;
    margin-right: 30%;
    margin-left: 30%;
}


.check {
    text-align: center;
    color: white;
    position: relative;
    margin-top: 30px;
    margin-right: 30%;
    margin-left: 30%;
}

.btn {
    position: relative;
    margin-top: 20px;
    margin-left: 47%;
    margin-right: 50%;
}




.icons {
    position: relative;
    margin-top: 200px;
    margin-bottom: 100px;
    align-items: center;
    margin-right: 30%;
    margin-left: 45%;
}

.align {
    text-align: center;
    color: white;
    position: relative;
    margin-top: 100px;
    margin-right: 40%;
    margin-left: 40%;
}

.align1 {
    text-align: center;
    color: white;
    position: relative;
    margin-right: 40%;
    margin-left: 40%;
}

.align2 {
    text-align: center;
    color: white;
    position: relative;
    margin-top: 30px;
    margin-right: 30%;
    margin-left: 30%;
}

.twitter {
    margin-right: 20px;
}


.facebook {
    margin-left: 20px;
}

#errorModal {
    text-align: center;
}

#exampleModalLabel {
    width: 100%;
}

#correctModal {
    text-align: center;
}


@media only screen and (max-width: 660px) {
    .icons {
        position: relative;
        margin-top: 50px;
        margin-bottom: 10px;
        align-items: center;
        margin-right: 20%;
        margin-left: 37%;
    }

    .btn {
        position: relative;
        margin-top: 20px;
        margin-left: 45%;
        margin-right: 50%;
    }
}


@media only screen and (max-width: 600px) {

    .icons {
        position: relative;
        margin-top: 50px;
        margin-bottom: 20px;
        align-items: center;
        margin-right: 30%;
        margin-left: 40%;
    }
    .twitter {
    margin-right: 20px;
}


.facebook {
    margin-left: 20px;
}

.align {
    text-align: center;
    color: white;
    position: relative;
    margin-top: 100px;
    margin-right: 30%;
    margin-left: 30%;
}

.align1 {
    text-align: center;
    color: white;
    position: relative;
    margin-right: 30%;
    margin-left: 30%;
}


}




@media only screen and (max-width: 500px) {
    .icons {
        position: relative;
        margin-top: 50px;
        margin-bottom: 10px;
        align-items: center;
        margin-right: 20%;
        margin-left: 37%;
    }

    .btn {
        position: relative;
        margin-top: 20px;
        margin-left: 45%;
        margin-right: 50%;
    }
}
